@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&family=Roboto+Serif:wght@400;700&display=swap');

:root {
  --font-family-sans:   'Karla', sans-serif;
  --font-family-serif:  'Roboto Serif', sans-serif;
  --font-color:       #111026;

  font-size: 16px;
}


* { box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  color:            var(--font-color);
  font-family:      var(--font-family-sans);
  height:           100vh;
  margin:           0;
  overflow:         hidden;
}

#app {
  display: flex;
  height: 100%;
}

main {
  display:  flex;
  overflow: auto;
  width:    100%;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-family-serif);
}

button, input {
  color:        inherit;
  border:       none;
  font-family:  inherit;
}

button, input[type="checkbox"] {
  cursor: pointer;
}

button {
  align-items:  center;
  color:        inherit;
  display:      inline-flex;
  font-size:    .8rem;
  font-weight:  800;
  padding:      .4em .8em;
}

/* Buttons */
  .btn {
    border-radius:  .4em;
    text-transform: uppercase;
  }

  .btn-primary {
    background-color: #e5e4ff;
    color:            #44417c;
  }

  .btn-danger {
    background-color: #fde5ec;
    color:            #d31a50;
  }

  .btn-success {
    background-color: #daf3da;
    color:            #298129;
  }
/* End Buttons */

/* Forms */
  .form-group {
    display:        flex;
    flex-direction: column;
    gap:            .4rem;
  }

  .form-group label {
    align-self:   flex-start;
    font-weight:  600;
  }

  .form-group input {
    flex:       1 1 auto;
    font-size:  1rem;
    border:     none;
    padding:    .4em .8em;
  }

  .form-group input:focus {
    outline: none;
  }

  .form-group>input, .form-group .input-group {
    border:         1px solid #ebebeb;
    border-radius:  .4rem;
    transition:     box-shadow .2s;
  }

  .form-group>input:focus {
    border:     1px solid #ebebeb;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.06);
  }

  .form-group .input-group {
    display:  flex;
    overflow: hidden;
  }
/* End Forms */

.container {
  margin:     0 auto;
  max-width:  800px;
  min-width:  400px;
}

.row {
  display:    flex;
  flex-wrap:  wrap;
}

/* Utilities */
  .mt-3 { margin-top: 1rem; }

  .gap-3 { gap: 1rem; }
/* End Utilities */
